WINGS_MAIN_URL=""
WINGS_COMPANY_ID=""
WINGS_USER_ID=""
WINGS_USER_PW=""

WINGS_SCHEDULE_URL=""
WINGS_SCHEDULE_DETAILS_URL=""

CACHE_DIR="./tmp"
SCHEDULE_FILE_JSON="cache_schedules.json"
CALENDAR_FILE_JSON="cache_calendar.json"

GOOGLE_CLIENT_EMAIL=""
GOOGLE_PRIVATE_KEY=""
GOOGLE_CALENDAR_ID=""