WINGS_MAIN_URL=""
WINGS_COMPANY_ID=""
WINGS_USER_ID=""
WINGS_USER_PW=""
WINGS_TEMP_USER_PW=""

WINGS_SCHEDULE_URL=""
WINGS_SCHEDULE_DETAILS_URL=""
WINGS_PW_CHANGE_URL=""

GOOGLE_CLIENT_EMAIL=""
GOOGLE_PRIVATE_KEY=""
GOOGLE_CALENDAR_ID=""
GOOGLE_CALENDAR_REQUEST_LIMIT=500

UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

SLACK_BOT_TOKEN=""
SLACK_SCHEADULE_CHANNEL_ID=""
SLACK_LOG_CHANNEL_ID=""